<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ajb.oa.dao.NoticeInfoDao">

	<select id="get" resultType="com.ajb.oa.domain.NoticeInfoDO">
		select `id`,`fk_type_id`,(select wnt.type from web_notice_type wnt where wnt.is_deleted = 0 and wnt.id = wni.fk_type_id) fkType,`title`,`context`,`create_time`,`create_user`,`is_deleted` from web_notice_info wni where id = #{value} and is_deleted = 0
	</select>

	<select id="list" resultType="com.ajb.oa.domain.NoticeInfoDO">
		select `id`,`fk_type_id`,(select wnt.type from web_notice_type wnt where wnt.is_deleted = 0 and wnt.id = wni.fk_type_id) fkType,`title`,`context`,`create_time`,`create_user`,`is_deleted` from web_notice_info wni
        <where>  
         and is_deleted = 0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fkTypeId != null and fkTypeId != ''"> and fk_type_id = #{fkTypeId} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="context != null and context != ''"> and context = #{context} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from web_notice_info
		 <where>  
		  and is_deleted = 0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fkTypeId != null and fkTypeId != ''"> and fk_type_id = #{fkTypeId} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="context != null and context != ''"> and context = #{context} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		</where>
	</select>
	
	<select id="getAdjacent" parameterType="com.ajb.oa.domain.NoticeInfoDO" resultType="com.ajb.oa.domain.NoticeInfoDO">
		SELECT
		     ( SELECT id FROM web_notice_info WHERE create_time &gt; ( SELECT create_time FROM web_notice_info WHERE id = #{id}) and is_deleted = 0 ORDER BY create_time limit 1)as beforeId,
		     ( SELECT title FROM web_notice_info WHERE create_time &gt; ( SELECT create_time FROM web_notice_info WHERE id = #{id}) and is_deleted = 0 ORDER BY create_time limit 1)as beforeTitle,
		     ( SELECT id FROM web_notice_info WHERE create_time &lt; ( SELECT create_time FROM web_notice_info WHERE id = #{id}) and is_deleted = 0 ORDER BY create_time DESC limit 1)as afterId,
		     ( SELECT title FROM web_notice_info WHERE create_time &lt; ( SELECT create_time FROM web_notice_info WHERE id = #{id})and is_deleted = 0 ORDER BY create_time DESC limit 1) as afterTitle
	    FROM
	        web_notice_info 
	    WHERE
	        id = #{id}
    </select>
	 
	<insert id="save" parameterType="com.ajb.oa.domain.NoticeInfoDO">
		insert into web_notice_info
		(
			`id`, 
			`fk_type_id`, 
			`title`, 
			`context`, 
			`create_time`, 
			`create_user`
		)
		values
		(
			#{id}, 
			#{fkTypeId}, 
			#{title}, 
			#{context}, 
			NOW(), 
			#{createUser}
		)
	</insert>
	 
	<update id="update" parameterType="com.ajb.oa.domain.NoticeInfoDO">
		update web_notice_info 
		<set>
			<if test="fkTypeId != null">`fk_type_id` = #{fkTypeId}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="context != null">`context` = #{context}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="isDeleted != null">`is_deleted` = #{isDeleted}</if>
		</set>
		where id = #{id}
	</update>

	<update id="remove">
		update web_notice_info set `is_deleted` = 1 where id = #{value}
	</update>	
		
	<delete id="batchRemove">
		delete from web_notice_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>