<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.oa.dao.OldEducationDao">

	<select id="get" resultType="com.bootdo.oa.domain.OldEducationDO">
		select `id`,`title`,`context`,`type`,`create_time`,`create_user`,`is_deleted` from web_old_education where id = #{value} and is_deleted = 0
	</select>

	<select id="list" resultType="com.bootdo.oa.domain.OldEducationDO">
		select `id`,`title`,`context`,`type`,`create_time`,`create_user`,`is_deleted` from web_old_education
        <where>  
         and is_deleted = 0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="context != null and context != ''"> and context = #{context} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from web_old_education
		 <where>  
		  and is_deleted = 0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="context != null and context != ''"> and context = #{context} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.oa.domain.OldEducationDO">
		insert into web_old_education
		(
			`id`, 
			`title`, 
			`context`, 
			`type`, 
			`create_time`, 
			`create_user`
		)
		values
		(
			#{id}, 
			#{title}, 
			#{context}, 
			#{type}, 
			NOW(), 
			#{createUser}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.oa.domain.OldEducationDO">
		update web_old_education 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="context != null">`context` = #{context}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="isDeleted != null">`is_deleted` = #{isDeleted}</if>
		</set>
		where id = #{id}
	</update>

	<update id="remove">
		update web_old_education set `is_deleted` = 1 where id = #{value}
	</update>
		
	<delete id="batchRemove">
		delete from web_old_education where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>