<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.oa.dao.SchoolEducationInfoDao">

	<select id="get" resultType="com.bootdo.oa.domain.SchoolEducationInfoDO">
		select wsei.id,wsei.title,wsei.fk_type_id1,wsei.fk_type_id2,(select wse1.type type from web_school_education wse1 where wse1.id = wsei.fk_type_id1 and wse1.is_deleted = 0) fkType1,(select wse2.type type from web_school_education wse2 where wse2.id = wsei.fk_type_id2 and wse2.is_deleted = 0) fkType2,wsei.context,wsei.create_time,wsei.create_user,wsei.modify_time,wsei.is_deleted from web_school_education_info wsei where wsei.id = #{value} and wsei.is_deleted = 0
	</select>

	<select id="list" resultType="com.bootdo.oa.domain.SchoolEducationInfoDO">
		select wsei.id,wsei.title,wsei.fk_type_id1,wsei.fk_type_id2,(select wse1.type type from web_school_education wse1 where wse1.id = wsei.fk_type_id1 and wse1.is_deleted = 0) fkType1,(select wse2.type type from web_school_education wse2 where wse2.id = wsei.fk_type_id2 and wse2.is_deleted = 0) fkType2,wsei.context,wsei.create_time,wsei.create_user,wsei.modify_time,wsei.is_deleted from web_school_education_info wsei
        <where>  
         and is_deleted = 0
		  		  <if test="id != null and id != ''"> and wsei.id = #{id} </if>
		  		  <if test="title != null and title != ''"> and wsei.title = #{title} </if>
		  		  <if test="fkTypeId1 != null and fkTypeId1 != ''"> and wsei.fk_type_id1 = #{fkTypeId1} </if>
		  		  <if test="fkTypeId2 != null and fkTypeId2 != ''"> and fk_type_id2 = #{fkTypeId2} </if>
		  		  <if test="context != null and context != ''"> and wsei.context = #{context} </if>
		  		  <if test="createTime != null and createTime != ''"> and wsei.create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and wsei.create_user = #{createUser} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and wsei.modify_time = #{modifyTime} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and wsei.is_deleted = #{isDeleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from web_school_education_info wsei
		 <where>  
		  and wsei.is_deleted = 0
		  		  <if test="id != null and id != ''"> and wsei.id = #{id} </if>
		  		  <if test="title != null and title != ''"> and wsei.title = #{title} </if>
		  		  <if test="fkTypeId1 != null and fkTypeId1 != ''"> and wsei.fk_type_id1 = #{fkTypeId1} </if>
		  		  <if test="fkTypeId2 != null and fkTypeId2 != ''"> and wsei.fk_type_id2 = #{fkTypeId2} </if>
		  		  <if test="context != null and context != ''"> and wsei.context = #{context} </if>
		  		  <if test="createTime != null and createTime != ''"> and wsei.create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and wsei.create_user = #{createUser} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and wsei.modify_time = #{modifyTime} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and wsei.is_deleted = #{isDeleted} </if>
		  		</where>
	</select>
	
	<select id="getAdjacent" parameterType="com.bootdo.oa.domain.SchoolEducationInfoDO" resultType="com.bootdo.oa.domain.SchoolEducationInfoDO">
		SELECT
		     ( SELECT id FROM web_school_education_info WHERE create_time &gt; ( SELECT create_time FROM web_school_education_info WHERE id = #{id}) and is_deleted = 0 ORDER BY create_time limit 1)as beforeId,
		     ( SELECT title FROM web_school_education_info WHERE create_time &gt; ( SELECT create_time FROM web_school_education_info WHERE id = #{id}) and is_deleted = 0 ORDER BY create_time limit 1)as beforeTitle,
		     ( SELECT id FROM web_school_education_info WHERE create_time &lt; ( SELECT create_time FROM web_school_education_info WHERE id = #{id}) and is_deleted = 0 ORDER BY create_time DESC limit 1)as afterId,
		     ( SELECT title FROM web_school_education_info WHERE create_time &lt; ( SELECT create_time FROM web_school_education_info WHERE id = #{id})and is_deleted = 0 ORDER BY create_time DESC limit 1) as afterTitle
	    FROM
	        web_school_education_info 
	    WHERE
	        id = #{id}
    </select> 
	 
	<insert id="save" parameterType="com.bootdo.oa.domain.SchoolEducationInfoDO">
		insert into web_school_education_info
		(
			id, 
			title, 
			fk_type_id1, 
			fk_type_id2, 
			context, 
			create_time, 
			create_user, 
			modify_time
		)
		values
		(
			#{id}, 
			#{title}, 
			#{fkTypeId1}, 
			#{fkTypeId2}, 
			#{context}, 
			NOW(), 
			#{createUser}, 
			#{modifyTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.oa.domain.SchoolEducationInfoDO">
		update web_school_education_info 
		<set>
			modify_time = NOW(),
			<if test="title != null">title = #{title}, </if>
			<if test="fkTypeId1 != null">fk_type_id1 = #{fkTypeId1}, </if>
			<if test="fkTypeId2 != null">fk_type_id2 = #{fkTypeId2}, </if>
			<if test="context != null">context = #{context}, </if>
			<if test="createTime != null">create_time = #{createTime}, </if>
			<if test="createUser != null">create_user = #{createUser}, </if>
			<if test="isDeleted != null">is_deleted = #{isDeleted}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="remove">
		update web_school_education_info set is_deleted = 1 where id = #{value}
	</update>	
	
	<delete id="batchRemove">
		delete from web_school_education_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>