<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ajb.oa.dao.SchoolEducationDao">

	<select id="get" resultType="com.ajb.oa.domain.SchoolEducationDO">
		select `id`,`type`,`level`,`pid`,`is_deleted` from web_school_education where id = #{value} and is_deleted = 0
	</select>

	<select id="list" resultType="com.ajb.oa.domain.SchoolEducationDO">
		select `id`,`type`,`level`,`pid`,`is_deleted` from web_school_education
        <where>  
         and is_deleted = 0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="list2" resultType="com.ajb.oa.domain.SchoolEducationDO">
		select wse2.id id,wse2.type type,wse2.level level,wse2.pid pid,(select wse1.type type from web_school_education wse1 where wse1.id = wse2.pid and wse1.is_deleted = 0) as pType,wse2.is_deleted is_deleted
		 from web_school_education wse2
        <where>  
         and wse2.is_deleted = 0
		  		  <if test="id != null and id != ''"> and wse2.id = #{id} </if>
		  		  <if test="type != null and type != ''"> and wse2.type = #{type} </if>
		  		  <if test="level != null and level != ''"> and wse2.level = #{level} </if>
		  		  <if test="pid != null and pid != ''"> and wse2.pid = #{pid} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and wse2.is_deleted = #{isDeleted} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>	
	
 	<select id="count" resultType="int">
		select count(*) from web_school_education
		 <where>  
		  and is_deleted = 0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="pid != null and pid != ''"> and pid = #{pid} </if>
		  		  <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ajb.oa.domain.SchoolEducationDO">
		insert into web_school_education
		(
			`id`, 
			`type`, 
			`level`, 
			`pid`
		)
		values
		(
			#{id}, 
			#{type}, 
			#{level}, 
			#{pid}
		)
	</insert>
	 
	<update id="update" parameterType="com.ajb.oa.domain.SchoolEducationDO">
		update web_school_education 
		<set>
			<if test="type != null">`type` = #{type}, </if>
			<if test="level != null">`level` = #{level}, </if>
			<if test="pid != null">`pid` = #{pid}, </if>
			<if test="isDeleted != null">`is_deleted` = #{isDeleted}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="remove">
		update web_school_education set `is_deleted` = 1 where id = #{value}
	</update>
	
	<delete id="batchRemove">
		delete from web_school_education where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>