<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解西青学习网</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;平台介绍</h3>
        <div style="margin-left:100px;">
	        <h5>
	        	<p>&nbsp;</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“西青区社区教育数字化学习中心建设项目——社区教育数字化平台”是面向基层、街镇、社区全体社会成员</p>
				<p>提供终身教育的大型综合性门户和学习服务管理平台。社区教育数字化平台融合线上线下多种学习模式，整合</p>
				<p>现有资源与应用系统，集学习、科研、管理、决策分析等功能于一体，创设数字化学习环境，提供优质资源共</p>
				<p>享和个性化学习需求服务，构建“人人皆学、时时能学、处处可学”的在线学习支持服务平台。</p>
			</h5>
		</div>
		<p>&nbsp;</p>
        <h3>&nbsp;&nbsp;&nbsp;网站地址</h3>
        <ul>
            <li>西青学习网地址：<a href="http://www.xqstudy.cn" target="_blank">http://www.xqstudy.cn</a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>